@model List<Telescope_Traking_Delivery.Models.Cancelacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link rel="stylesheet" media="print" />

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />


    @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <style>

        thead input {
            width: 100%;
            background-color: #FFFFCC !important
        }

        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <h5 class="mb-10">Tabla de Cancelaciones.</h5>
            <p class="text-sm mb-20">
                Historial de Cancelaciones.
            </p>



            <ul class="buttons-group">
                <li>
                    <a class="main-btn primary-btn-outline rounded-full btn-hover" asp-action="Cancelacion_Detalle" asp-controller="Cancelacion"
                       asp-route-IdCancelacions="0">Crear Nuevo</a>
                </li>
                @if (User.IsInRole("1"))
                {
                    <li>
                        <a class="main-btn success-btn-outline rounded-full btn-hover" asp-action="MostrarDatos" asp-controller="Cancelacion">Cargar Excel</a>
                    </li>
                }
            </ul>

            <div class="row">


                <div class="table-wrapper table-responsive">
                    <table class="table striped-table" id="tb_Cancelacion">

                        <thead>
                            <tr class="text-center">
                                <th><h5>ID</h5></th>
                                <th><h5>CLIENTE</h5></th>
                                <th><h5>NUMERO DE PEDIDO/DELIVERY</h5></th>
                                <th><h5>ENTREGA</h5></th>
                                <th><h5>FACTURA</h5></th>
                                <th><h5>PEDIDO</h5></th>
                                <th><h5>SKU</h5></th>
                                <th><h5>PRODUCTO</h5></th>
                                <th><h5>LOTE</h5></th>
                                <th><h5>CADUCIDAD</h5></th>
                                <th><h5>MOTIVO</h5></th>
                                <th><h5>ORIGINAL / RESTO</h5></th>
                                <th><h5>FECHA DE REGISTRO O MODIFICACION</h5></th>
                                <th><h5>Actualizar </h5></th>
                                <th><h5>Eliminar</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td><p>@item.IdCancelation</p></td>
                                    <td><p>@item.IdClientNavigation.ClientName </p></td>
                                    <td><p>@item.IdOrdersNavigation.IdOrders</p></td>
                                    <td><p>@item.Entrega</p></td>
                                    <td><p>@item.Factura </p></td>
                                    <td><p>@item.Pedido</p></td>
                                    <td><p>@item.Sku</p></td>
                                    <td><p>@item.Producto</p></td>
                                    <td><p>@item.Lote </td>
                                    <td><p>@item.Caducidad </p></td>
                                    <td><p>@item.Motivo </p></td>
                                    <td><p>@item.OriginalResto</p></td>
                                    <td><p>@item.FechaRegistro</p></td>
                                    <td>
                                        <div class="action">
                                            <a class="text-primari mx-auto" asp-action="Cancelacion_Detalle" asp-controller="Cancelacion" asp-route-IdCancelation="@item.IdCancelation"> <i class="lni lni-pencil"></i></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="action">
                                            <a class="text-danger mx-auto" asp-action="Eliminar" asp-controller="Cancelacion" asp-route-IdCancelation="@item.IdCancelation"> <i class="lni lni-trash-can"></i></a>
                                        </div>

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
@section Scripts{
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*pdf*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>



    @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>





    <script>

        $(document).ready(function () {

            $('#tb_Cancelacion thead tr').clone(true).addClass('filters').appendTo('#tb_Cancelacion thead');


            $('#tb_Cancelacion').DataTable({

                //________________ SEGUNDO ____________
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                //________________ TERCERO ____________
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }
                ],
                //_______________ CUARTO ______________
                dom: 'Bfrtip',
                buttons: [
                    //'excel',
                    {
                        extend: 'excelHtml5',
                        text: 'Exportar Excel',
                        filename: 'Reporte Pedidos',
                        title: '',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                        },
                        className: 'btn-exportar-excel',
                    },
                    //'pdf',
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar PDF',
                        filename: 'Reporte Pedidos',
                        title: '',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                        },
                        className: 'btn-exportar-pdf',
                    },
                    //'print'
                    {
                        extend: 'print',
                        title: '',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                        },
                        className: 'btn-exportar-print'

                    },
                    //extra
                    'pageLength'
                ],
                //______________ QUINTO _______________
                CancelacionCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api.columns().eq(0).each(function (colIdx) {

                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());

                        var title = $(cell).text();

                        //$(cell).html('<input type="text" placeholder="' + title + '" />');
                        $(cell).html('<input type="text" placeholder="Buscar..." />');

                        // On every keypress in this input
                        $('input', $('.filters th').eq($(api.column(colIdx).header()).index())).off('keyup change').on('keyup change', function (e) {

                            e.stopPropagation();

                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                    });
                },

                //extra
                //searching: false



            });



        });
    </script>
}                             