@model Telescope_Traking_Delivery.Models.ViewModels.OrderVM;


@{
    ViewData["Title"] = "Order_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{


}


<div class="form-elements-wrapper fa-align-center">

    <div class="row">

        <div class="col-lg-6">

            <!-- input style start -->
            <div class="card-style mb-30">

                @if (Model.oOrder.IdOrders == 0)
                {
                    <h6 class="input-style-25">Crear Una nuevo Pedido</h6>
                }
                else
                {
                    <h6 class="input-style-25"> Editar el Pedido</h6>
                }

                <form asp-action="Order_Detalle" asp-controller="Order" method="post">
                    <input type="hidden" asp-for="oOrder.IdOrders" />

                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.SiteLoading">Sitio de Carga</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.SiteLoading" required>
                            <option>DHL MACROCENTRO</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.OrdersDelivery">Pedido/Delivery</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.OrdersDelivery" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.DtAppointedForShipment">Fecha y Hora/Citado a Embarque </label>
                        <input class="form-control form-control-sm" asp-for="oOrder.DtAppointedForShipment" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2 ui-datepicker">
                        <label class="form-label" asp-for="oOrder.DtOfBoarding">Fecha y Hora/ Embarque</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.DtOfBoarding" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.OtOfBoarding">OT de Embarque</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.OtOfBoarding" required>
                            <option>ON TIME</option>
                            <option>OFF TIME</option>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.VehicleControl">Folio Vehicular</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.VehicleControl" type="text" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.Destination">Destino</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.Destination" type="text" required />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.DtDeliveryAppointment">Fecha y Hora/Cita de Entrega</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.DtDeliveryAppointment" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" for="typeNumber" asp-for="oOrder.Pieces">Piezas</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.Pieces" type="number" id="typeNumber" value="0" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.DtArrivalToUnload">Fecha y Hora/ LLeagda a Descarga</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.DtArrivalToUnload" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.OnTime">On Time</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.OnTime" required>
                            <option>ON TIME</option>
                            <option>OFF TIME</option>
                            <option>N/A</option>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.DeliveryStatus">Estatus de Pedido</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.DeliveryStatus" required>
                            <option>ENTREGADO</option>
                            <option>CANCELADO</option>
                            <option>ENTRAGADO CON FALTANTE</option>
                            <option>RECHAZADO</option>
                            <option>RECHAZADO PARCIAL</option>
                            <option>ENTRAGADO CON FALTANTE</option>
                        </select>

                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.Obsevations">Observaciones</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.Obsevations" type="text" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.IdClient">Cliente</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.IdClient" asp-items="@Model.oListaClient" required>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.IdTypeOrders">Tipo de Pedido</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.IdTypeOrders" asp-items="@Model.oListaTypeOrder" required>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.IdTransport"> Transporte</label> <br />
                        <select class="form-select form-select-sm" asp-for="oOrder.IdTransport" asp-items="@Model.oListaTransport" required>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.IdTransportist">Transportista</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.IdTransportist" asp-items="@Model.oListaTransportist" required>
                        </select>
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.Confirmation">Fecha y Hora/ Confirmacion</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.Confirmation" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.EndDateTime">Fecha y Hora/Termino</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.EndDateTime" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>
                    <div class="input-style-2">
                        <label class="form-label" asp-for="oOrder.IdUsuario">Operador que registra</label>
                        <select class="form-select form-select-sm" asp-for="oOrder.IdUsuario">
                            <option value="@ViewData["IdUsuario"]"> @ViewData["nombreUsuario"]</option>
                        </select>
                    </div>
                    <div class="input-style-2" hidden>
                        <label class="form-label" asp-for="oOrder.FechaRegistro">Fecha y Hora/Punto de Carga</label>
                        <input class="form-control form-control-sm" asp-for="oOrder.FechaRegistro" type="datetime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    </div>

                    <div class="input-style-2">

                        @if (Model.oOrder.IdOrders == 0)
                        {
                            <button class="btn btn-primary btn-sm w-45" type="submit">Crear</button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm w-45" type="submit">Actualizar</button>

                        }
                        <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Order">Volver</a>

                    </div>

                </form>



            </div>

        </div>

    </div>

</div>



@section Scripts{



}